<h1 class='mid'>Galerie</h1>

<%# <button name="button" type="button" class='mid'>Ajouter une oeuvre</button> %>


<br>
<div class='mid'>
<% @oeuvres.each do |oeuvre| %>
      <tr>
        <td><%= oeuvre.title %></td>
        <td><%= oeuvre.content %></td>
        <td><%= oeuvre.image %></td>
        <td><%= link_to 'Show', oeuvre %></td>
        <br>
        <br>
       
      </tr>
    <% end %>
</div>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"></h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">e</a>
  </div>
</div>








  


 
